<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Insta Studios</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <style>
      .bg-color {
        background-color: gainsboro;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-transaparent is-fixed-top" role="navigation">
      <div class="navbar-brand">
        <!-- Instastudio Logo-->
        <div class="navbar-item is-large is-primary" id="logo">
          <img
            src="/logo"
            style="height: 100px; width: auto;"
            class="is-large"
          />
        </div>
      </div>

      <!--Social Media Nav links-->
      <div class="navbar-start">
        <div class="navbar-item">
          <span class="icon">
            <a
              href="https://www.facebook.com/instaphotographyofficial/"
              style="color : rgb(106, 152, 155)"
              target="_blank"
            >
              <i class="fab fa-facebook"></i
            ></a>
          </span>
        </div>
        <div class="navbar-item">
          <span class="icon ">
            <a
              href="https://www.instagram.com/insta_studio_vellore/"
              style="color : rgb(106, 152, 155)"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </span>
        </div>
        <div class="navbar-item">
          <span class="icon">
            <a
              href="https://www.youtube.com/channel/UCTghfTvH9Z2DMRRuMJdYcRw"
              style="color : rgb(106, 152, 155)"
              target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
          </span>
        </div>
      </div>

      <!-- Navigation Menu Right Pane-->
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <div class="navbar-item underline-item">
            <a class="title is-6 has-text-white" href="#Creations"
              >Creations&nbsp;</a
            >
          </div>

          <div class="navbar-item underline-item">
            <a class="title is-6 has-text-white" href="#Aboutus"
              >About us&nbsp;</a
            >
          </div>

          <div class="navbar-item underline-item">
            <a class="title is-6 has-text-white" href="/RequestQuote"
              >Request a quote</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="hero is-fullheight">
      <div class="hero-body bg-color">
        <div class="container">
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input
                class="input"
                style="size: 10"
                type="text"
                placeholder="first name"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
